<h1><%= @song.title %></h1>
<h3><%= @song.length%></h3>
<h3>Rating: <%= @song.rating%></h3>
<h3>Genres for this Song:
<% @song.genres.each do |genre| %>
<%= "#{genre.name} " %> 
<% end %>
</h3>
<h3>Songs With the Same Rating:
<% @song.three_songs_with_same_rating.each do |song| %>
<%= "#{song.title} " %> 
<% end %>
</h3>
